body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
    }
    .subheading {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}

.expedu_icon{
    color:#495057;
    text-decoration: none;
}

.expedu_icon:hover{
    color:#bd5d38;
}

:root{
    --bs-primary:rgb(16, 230, 81);
    --bs-primary-rab: 16,230,81;
    --bs-secondary:rgb(161, 255, 255);
    --bs-secondary-rab: 161,255,255;
}

.expedu_icon:hover{
    color: var(--bs-secondary);
}

a{
    color: var(--bs-primary);
}

.social-icons .social-icon:hover{
    background-color: var(--bs-secondary);
}
