body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
    }
    .subheading {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}

a{
    color:#87CEFA;
    text-decoration: none;
}

a:hover{
    background-color:#50C878;
    color:#FFD700;
}

.expedu_icon{
    color:#495057;
    text-decoration: none;
}

.expedu_icon:hover{
    color:#bd5d38;
}

:root{
    --bs-primary:#0b00a6;
    --bs-primary-rab: 11,0,166;
    --bs-secondary:#A1FFFF;
    --bs-secondary-rab: 238,143,0;
}

.expedu_icon:hover{
    color: var(--bs-secondary);
}

a{
    color: var(--bs-primary);
}

.social-icons .social-icon:hover{
    background-color: var(--bs-secondary);
}

p {color: #0f0a30;	background-color: #ffd326;	border-width: 2px;border-style: solid;border-color: #6854d7;}

p {color: #0f0a30;	background-color: #ffd326;	border: 2px, solid, #6854d7;}
